.App {
  width: 100vw;
  height: calc(100vh - 100px);

  background: black;
}


header {
  background-color: #5eaae9;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;

}

footer {
  width: 100vw;
  height: 10vh;
  background: black;
}

.home {
  font-size: 25;
  font-weight: 800;
  color: black;
  position: relative;
  left: 50px;
}

.card {
  width: 1200px;
  height: 500px;
  background: white;
  display:flex;
  flex-direction: column;
  position: relative;
  left: 100px;
}

#counter{
  color: white;
}