.App {
  width: 100vw;
  height: 80vh;
  background: black;
}


header {
  background-color: #5eaae9;
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;

}

footer {
  width: 100vw;
  background: black;
}

.home {
  font-size: 25;
  font-weight: 800;
  color: black;
  position: relative;
  left: 50px;
}

.card {
  width: 1250px;
  height: 450px;
  background: white;
  /* display:flex; */
  /* flex-direction: column; */
  position: relative;
  left: 100px;
}

.inner-text {
  position: relative;
  left: 100px;
  top:40px;
}

.counter{
  width: 150px;
  height: 30px;
  color:black;
  font-size: 30px;
  position: relative;
  left: 1235px;
  top: 70px;
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#button1 {
  color: white;
  background: black;
  position: relative;
  bottom: 100px;
  font-size: 25px;
  border: none;
  position: relative;
  left: 100px;
}

#button2 {
  color: white;
  background: black;
  position: relative;
  bottom: 100px;
  font-size: 25px;
  border: none;
  position: relative;
  right: 100px;
}